telegram bot.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an AI assistant connected to Google Calendar and Google Tasks.\n\nRules:\n\n- Chat normally with the user.\n- Answer general questions yourself.\n- Only use Google Tasks when the user explicitly asks to create, update, delete, or manage a task.\n- Only use Google Calendar when the user explicitly asks to create, update, delete, or check a calendar event.\n- Never call any tool for greetings like \"hi\", \"hello\", \"hey\", or casual conversation.\n- If the user doesn't provide enough information (such as date or time), ask follow-up questions before using a tool.\n- Do not invent events or tasks.\n- Use exactly one tool only when it is required.\n- After a tool succeeds, explain what was done in a short and friendly way."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "64f5a49c-421e-4248-9e20-cef867b2d50a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        192
      ],
      "id": "5b21691e-1f22-4714-823d-26911a773f91",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "61195206-2e15-4a58-97a3-9c22aebcaf8f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "S1eVxFUrQsZMdLIN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jackersp26@gmail.com",
          "mode": "list",
          "cachedResultName": "jackersp26@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        528,
        208
      ],
      "id": "53f4c0dc-7812-4a66-be81-ee9b7222ccd6",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ErdGXGNHcXdrPvU1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "task": "MDE4MTUwNjMxMzQwODY1MTEzOTc6MDow",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "c05f9b27-b945-42a1-97d0-ac54d6b15d9a",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "DyGcD1RPi4gWfrDr",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "ba06888f-9edc-4aaf-88b8-37644852a0f5",
      "name": "Send a text message",
      "webhookId": "349661d3-169b-4c00-95ef-521133c8c8c8",
      "credentials": {
        "telegramApi": {
          "id": "wSuAOoNr2bMxuCWr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        16
      ],
      "id": "4c1805d6-0b44-4f06-97ae-0a5a66e97088",
      "name": "Telegram Trigger",
      "webhookId": "18f32649-2acc-44c3-8758-bfacb94462c2",
      "credentials": {
        "telegramApi": {
          "id": "wSuAOoNr2bMxuCWr",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2773c3f7-30cd-4dc8-a4b9-05151ab2d3be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "nodeGroups": [],
  "id": "ULcxwiyocfYnyGOp",
  "tags": []
}